<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <title>屋牛管家</title>

    <link rel="stylesheet" href="../scss/index.css">
    <!--所有页面共用JS文件-->
    <script src="../js/jquery.min.js"></script>
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/flexible.js"></script>
    <script src="../js/dialog.js"></script>
    <!--当前页面所用JS文件-->
    <script>
        $(function(){
            $(".big_btn").click(function(){
                autoclosedialog("感谢您选择屋牛家装！","我们将在1~3个工作日内完成信息校对","请保持手机畅通")
            })
            $("#delete_btn").click(function(){
                confirmdialog("确定要删除您的住址？")
            })
           // directdialog("感谢您选择屋牛家装！","我们将在1~3个工作日内完成信息校对","请保持手机畅通","")
           //autoclosedialog("感谢您选择屋牛家装！","我们将在1~3个工作日内完成信息校对","请保持手机畅通")
            //confirmdialog("确定要删除您的住址？")
        })
    </script>
</head>
<body>
<!-- 页面内容 -->
<div id="wrap">
    <div class="head fz17 fb">
            <a href="javascript:;" class="return_back">
                <i class="iconfont fz28">&#xe601</i>
            </a>
            <%- user_info.name %>
            的屋牛住宅
            <a href="javascript:;" class="add_btn">
                <i class="iconfont fz32">&#xe600</i>
            </a>
        </div>
    <div class="indexBox white">
        <img src="../img/temp_284x158.png" width="100%">
        <p class="address grayB">杭州余杭区翡翠城 305幢4单元502室</p>
        <div class="split_line"></div>
        <div class="cls mt20 mb5">
            <a href="#" class="address_btn fl">地址调整</a>
            <a href="#" id="delete_btn" class="address_btn fr">删除地址</a>
        </div>
    </div>
    <a href="#" class="big_btn fz17">
        <i class="iconfont fz20 yellow">&#xe602</i>
        智能硬件一键索取
    </a>
</div>


</body>
</html>
