<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <title>屋牛管家</title>

    <link rel="stylesheet" href="../scss/login.css">
    <!--所有页面共用JS文件-->
    <script src="../js/jquery.min.js"></script>
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/flexible.js"></script>
    <script src="../js/dialog.js"></script>
    <!--当前页面所用JS文件-->
    <script>
        $(function(){
            $(".big_btn").click(function(){
                autoclosedialog("感谢您选择屋牛家装！","我们将在1~3个工作日内完成信息校对","请保持手机畅通")
            })
            $("#delete_btn").click(function(){
                confirmdialog("确定要删除您的住址？")
            })
        })
    </script>
    <Script>
        var second = 60, t;
        var flag = 0;
        function numCutDown() {
            var bObj = $("#getcode");
            bObj.attr("onclick", "");
            t = setTimeout('numCutDown()', 1000);
            if (second >= 0) {
                bObj.html((second--) + '秒后重新获取');
                bObj.addClass("grey");
                flag = 1;
                bObj.attr("disabled", true);
                return;
            } else {
                second = 60;
                clearTimeout(t);
                bObj.html('重新获取验证码');
                bObj.removeClass("grey");
                $(".validate3").removeClass("repeat");
                bObj.attr("disabled", false);
                bObj.attr("onclick", "numCutDown();");
                flag = 0;
                return;
            }
        }
        var code = null;
        function validata() {
            var handPhone = $("#handPhone").val();
            var valiCode = $("#telCode").val();

            if (handPhone == null || handPhone == "") {
                dialog("请填写手机号码");
                //$("#handPhone").focus();
                return false;
            }
            var reg = /^[1][3-8]\d{9}$/;
            if (!reg.test(handPhone)) {
                dialog("手机号码格式不正确！");
                //$("#handPhone").focus();
                return false;
            }
            if (valiCode == null || valiCode == "") {
                dialog("请填写验证码！");
                //$("#telCode").focus();
                return false;
            }
            numCutDown();
            return true;
        }
     function login(){
         directdialog("感谢您选择屋牛家装！","我们将在1~3个工作日内完成信息校对","请保持手机畅通","")

         $.ajax({
             url:'',
             dateType:'json',
             type:'POST',
             data:'',
             success:function(){
                 directdialog("感谢您选择屋牛家装！","我们将在1~3个工作日内完成信息校对","请保持手机畅通","")
             },
             error:function(){
                 dialog("error!");
             }
         })
     }
    </script>
</head>
<body>
<!-- 页面内容 -->
<div id="wrap">
    <div class="head fz17 fb">
        <a href="javascript:;" class="return_back">
            <i class="iconfont fz28">&#xe601</i>
        </a>
        我的屋牛住宅
        <a href="javascript:;" class="add_btn">
            <i class="iconfont fz32">&#xe600</i>
        </a>
    </div>
    <div class="login mt20">
        <form id="loginForm" action="${base}/login/loginUser.xhtml" method="post">
            <div class="white pl36 topline_d btmline_d">
                <div class="btmline_l">
                    <input type="text" id="username" name="username" class="fz14 re_txt icon_user li_item" placeholder="请输入业主姓名"/>
                </div>
                <div class="btmline_l">
                    <input type="text" id="handPhone" name="handphone" class="fz14 re_txt icon_phone li_item" placeholder="请填写手机号"/>
                </div>
                <div class="yanz">
                    <input type="text" id="telCode" name="telCode" class="fz14 re_txt icon_speaker li_item" placeholder="请输入验证码"/>
                    <a id="getcode" class="yanz_btn" onclick="validata();" href="javascript:;">获取验证码</a>
                </div>
            </div>
            <button type="button" class="submit_btn fz17 fb" onclick="login()">确 认</button>
        </form>
    </div>


</div>


</body>
</html>
