@import "base";
@import "button";
@import "dialog";
.indexBox{
  margin: 0.64rem 0.36rem 0.3rem;
  padding: 0.1875rem;
  @include border_line;
  @include base_radius;
    .address{
      height: 1.218rem;
      line-height: 1.218rem;
    }
}