$gray_color:#303030;
@mixin basebtn{
  display: inline-block;
  border-radius: 0.1rem;
  text-align: center;
}
.address_btn{
  background-color: $gray_color;
  color: #fff;
  width: 4.28rem;
  height: 1.078rem;
  line-height: 1.078rem;
  @include basebtn
}
.big_btn{
  background-color: #f9fafb;
  color: $gray_color;
  width: 9.28rem;
  height: 1.14rem;
  line-height: 1.14rem;
  @include basebtn;
  @include border_line;
  margin: 0rem 0.36rem 0.3rem;
  box-shadow: 0 0.1rem 0.1rem #dfdedf;
}
.back_yellow{
  width: 3.96rem ;
  height: 0.93rem;
  line-height: 0.93rem;
  @include basebtn;
  background-color: #ffc444;
}
.submit_btn{
  @include basebtn;
  background-color: #ffc444;
  color: $gray_color;
  height: 1.25rem;
  line-height: 1.25rem;
  margin: 0.5rem auto 0;
  width: 9rem;
  display: block;
  border: none;
}
.yanz_btn{
  @include basebtn;
  background-color: #444444;
  color: #fff;
  height: 1rem;
  line-height: 1rem;
  width: 3.8rem;
}
.evaluate_btn{
  width: 1.5rem ;
  height: 0.67rem;
  line-height: 0.67rem;
  @include basebtn;
  background-color: #ffc444;
}