@import "base";
@import "edit";
.designBox{
  .choose_btn{
    position: relative;
     a{
      display: inline-block;
      width: 50%;
      float: left;
    }
     .line{
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: #a5a5a5;
      left: 50%;
      top:0;
    }
     .now{
      color: #919191;
      border-bottom-color: #fff;
    }
  }
  ul{
    position: relative;
    .magnifier{
      position: absolute;
      width: 1.56rem;
      height: 1.56rem;
      display: block;
      right: 0.4rem;
      line-height: 1.56rem;
      bottom: 0;
      border-radius: 50%;
      background-color: #515156;
    }
    img{
      margin: 1rem auto;
      display: block;
      width: 80%;
    }
    li{
      display: none;
    }
  }

}