@mixin baseHeight{height:1.4rem;line-height: 1.4rem;}
.li_item{
  @include baseHeight;
}
.height_75{
  height:1.18rem;line-height: 1.18rem;
}
.topline_d{
   border-top:1px solid #a5a5a5;
}
.topline_l{
  border-top:1px solid #c9c9c9;
}
.btmline_d{
  border-bottom:1px solid #a5a5a5;
}
.btmline_l{
  border-bottom:1px solid #c9c9c9;
 }
.brline_l{
  border-right:1px solid #c9c9c9;
}
.brline_d{
  border-right:1px solid #a5a5a5;
}
$fontSize: 12px;
body{
  font-size:$fontSize;
}