
#box {
  height: auto;
  color: #505050;
  .starBox{
    overflow: hidden;
  }
}

#box H4 {
  background: #999;
  color: #fff;
}


ADDRESS {
  display: block;
}

#myPoint {
  overflow: hidden;
  border-bottom: #ddd 1px solid;
  padding: 0.2rem 0;
}

#myPoint SPAN {
  font-family: Tahoma
}


#myPoint DIV {
  float: left;
}

#myPoint DIV IMG {
  vertical-align: middle;
}

#doPoint TR TD STRONG {
  color: #f00
}

#doPoint SPAN {
  display: block;
  background-image: url(../../src/img/star_small.png);
  background-repeat: no-repeat;
  height: 1rem;
  width: 8rem;
  background-size: 6.48rem 5.625rem;
  margin-left: 0.5rem;
  background-position: 0 0.2rem;
}

#doPoint SPAN SMALL {
  cursor: pointer;
  float: left;
  font-size: 0;
  height: 0.7rem;
  margin-right: 0.75rem;
  margin-top: 0.2rem;
  overflow: hidden;
  padding-top: 0;
  width: 0.7rem;
}

#doPoint .star5 {
  background-position:  0 -4.85rem
}

#doPoint .star4 {
  background-position:  0 -3.6rem
}

#doPoint .star3 {
  background-position: 0 -2.35rem
}

#doPoint .star2 {
  background-position:  0 -1.1rem
}

#doPoint .star1 {
  background-position:  0 0.15rem
}

FORM {
  margin: 15px 0px 0px
}
#box .area_txt{
  border: 1px solid #d8e1e7;
  display: none;
}
FORM LABEL {
  display: block;
  margin: 5px 0px
}

FORM textAREA {
  width: 350px
}

.eva_item p{
  border-top: 1px solid #d8e1e7;
  padding: 0.15rem 0;
}
.starBox{
  padding-top: 0.2rem;
}
.starBox tr{
  float: left;
}
.starBox th{
  white-space: nowrap;
  line-height: 1.2rem;
}