@import "base";
@import "button";
@import "dialog";
@import "edit";
.login {
  width: 10rem;
}
.login .re_txt {
  background-color: #fff;
  border: medium none;
  color: #000;
  margin-bottom: 1px;
  padding-left: 1rem;
  width: 100%;
}
.login .yanz {
  position: relative;
}
.yanz_btn{
  position: absolute;
  right: 0.3rem;
  top: 0.28rem;
}
.login .grey {
  background-color: #a2a2a2;
}
.register {
  margin: 0 auto;
  width: 9rem;
}
.register .re_txt {
  background-color: #3875d8;
  border: medium none;
  color: #fff;
  height: 1.25rem;
  line-height: 1.25rem;
  margin-bottom: 1px;
  padding-left: 1.46rem;
  width: 100%;
}
.icon_user {
  background-image: url("../img/icon_user.png");
  background-position: 0.25rem 0.5rem;
  background-repeat: no-repeat;
  background-size: 0.43rem 0.43rem;
}
.icon_speaker {
  background-image: url("../img/icon_speaker.png");
  background-position: 0.3rem 0.5rem;
  background-repeat: no-repeat;
  background-size: 0.43rem 0.5rem;
}
.icon_phone {
  background-image: url("../img/icon_phone.png");
  background-position: 0.3rem 0.5rem;
  background-repeat: no-repeat;
  background-size: 0.3125rem 0.5rem;
}
.re_txt:-moz-placeholder {
  color: #b4b4b4;
}
.re_txt::-moz-placeholder {
  color: #b4b4b4;
}
