@import "base";
@import "edit";
@import "button";
.ser_btn{
  position: relative;
  a{
    display: inline-block;
    width: 50%;
    float: left;
      i{
        margin-left: 1.5rem;
      }
  }
  .line{
    position: absolute;
    width: 1px;
    height: 0.65rem;
    background-color: #c9c7c9;
    left: 50%;
    top:0.25rem;
  }
  .now i{
    color: #ffc444;
  }

}
.serviceBox{
  ul{
    display: none;
  }
}
.codeBox{
  width: 10rem;
  height: 6rem;
  position: fixed;
  top:50%;
  margin-top: -3rem;
   img{
     width: 3.65rem;
     height: 3.65rem;
     display: inline-block;
   }
   p{
     line-height: 0.65rem;
   }
}